.footer{
    background:#080811;
    text-align:center;
    padding:60px 0 30px;
}

.footer h2{
    color:white;
    font-size:2rem;
    margin-bottom:10px;
}

.footer p{
    color:#bdbdbd;
}

.footer-icons{
    display:flex;
    justify-content:center;
    gap:20px;
    margin:35px 0;
}

.footer-icons a{
    width:55px;
    height:55px;
    border-radius:50%;
    background:#151528;
    border:1px solid rgba(139,92,246,.25);
    display:flex;
    justify-content:center;
    align-items:center;
    color:#8b5cf6;
    font-size:22px;
    transition:.3s;
}

.footer-icons a:hover{
    background:#8b5cf6;
    color:white;
    transform:translateY(-5px);
}

.top-btn{
    display:inline-flex;
    align-items:center;
    gap:10px;
    margin-bottom:35px;
    padding:14px 24px;
    background:#8b5cf6;
    color:white;
    text-decoration:none;
    border-radius:12px;
    font-weight:600;
    transition:.3s;
}

.top-btn:hover{
    background:#7440e8;
    transform:translateY(-4px);
}

.footer hr{
    border:none;
    height:1px;
    background:rgba(255,255,255,.08);
    margin:35px 0 25px;
}

.copyright{
    color:#888;
    font-size:.95rem;
}